<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDBContext"
         connectionString="Server = LOAY-PC; Database = Pro3 ; Integrated Security = True; Trust Server Certificate = True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>